<p>You can also POST to the create URI, if you want to create screenshots programmatically.</p>
<div class="code">
<code class="scroll">curl -X POST -H "Content-Type:application/json" -d "{\"description\": \"Let\u0027s see if this works.\",\"url\": \"http://google.com\",\"email\": \"dds1024@gmail.com\",\"sizes_attributes\": [{\"height\":\"100\",\"width\": \"200\"},{\"height\":\"500\",\"width\": \"900\"},{\"height\":\"600\",\"width\": \"1200\"} ]}" http://responsiveshots.com/screenshots.json</code>
</div>
<p>I don't expect this feature to stay open forever. Users and API tokens will be added soon.</p>