// Place all the styles related to the Screenshots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sizes {
	input {
		width: 33%;
		margin: 5px;
	}
}

.message-body {
	height: 55px;
}